#up {
    text-transform: uppercase;
}

#ca {
    text-transform:capitalize;
}

#low {
    text-transform: lowercase;
}

#under {
    text-decoration: underline;
}

#through {
    text-decoration: line-through;
}

#shadow {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px lawngreen;
}

#mshadow {
    text-transform: uppercase;
    text-shadow: 3px 3px 4px rgba(0, 128, 0, 0.432),
    -3px -3px 4px rgba(0, 0, 255, 0.527), -4px 4px 4px rgba(255, 0, 0, 0.527);
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#end {
    text-align: end;
}

#just {
    text-align: justify;
}

#start {
    text-align: start;
}