code div{
    background: black;
    min-height: 100px;
    min-width: 50%;
    color: white;
    font-size: 30px;
}

code div span {
    color:lawngreen;
}

code div b {
    color:lightseagreen;
}
code div strong {
    color: lightpink;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    font-family: "cairo black",cursive;
    color: navy;
    border: 5px outset ;
    background-color: lightseagreen;
    text-shadow: 2px 2px 3px white,-1px -1px 3px yellow;
    
}

h2 {
    color:navy;
    border-bottom: 2px solid blue;
    background-color: lightcyan;
    margin-top: 5px;
}